<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <dllmap dll="SDL2" os="windows" wordsize="32" target="libs/x86/SDL2.dll" />
  <dllmap dll="SDL2" os="windows" wordsize="64" target="libs/x64/SDL2.dll" />

  <dllmap dll="SDL2" os="osx" target="libs/osx/libSDL2-2.0.0.dylib" />

  <dllmap dll="SDL2" os="linux,freebsd,netbsd" wordsize="32" target="libs/lib/libSDL2-2.0.so.0" />
  <dllmap dll="SDL2" os="linux,freebsd,netbsd" wordsize="64" target="libs/lib64/libSDL2-2.0.so.0" />

  <dllmap dll="SDL2" os="openbsd" wordsize="32" target="libSDL2.so.0" />
  <dllmap dll="SDL2" os="openbsd" wordsize="64" target="libSDL2.so.0" />


  <dllmap dll="SDL2_image" os="windows" wordsize="32" target="libs/x86/SDL2_image.dll" />
  <dllmap dll="SDL2_image" os="windows" wordsize="64" target="libs/x64/SDL2_image.dll" />

  <dllmap dll="SDL2_image" os="osx" target="libs/osx/libSDL2_image-2.0.0.dylib" />

  <dllmap dll="SDL2_image" os="linux,freebsd,netbsd" wordsize="32" target="libs/lib64/libSDL2_image-2.0.so.0" />
  <dllmap dll="SDL2_image" os="linux,freebsd,netbsd" wordsize="64" target="libs/lib64/libSDL2_image-2.0.so.0" />

  <dllmap dll="SDL2_image" os="openbsd" wordsize="32" target="libSDL2_image.so.0" />
  <dllmap dll="SDL2_image" os="openbsd" wordsize="64" target="libSDL2_image.so.0" />


  <dllmap dll="MojoShader" os="windows" wordsize="32" target="libs/x86/MojoShader.dll" />
  <dllmap dll="MojoShader" os="windows" wordsize="64" target="libs/x64/MojoShader.dll" />

  <dllmap dll="mojoshader" os="osx" target="libs/osx/libmojoshader.dylib" />

  <dllmap dll="mojoshader" os="linux,freebsd,netbsd" wordsize="32" target="libs/lib64/libmojoshader.so" />
  <dllmap dll="mojoshader" os="linux,freebsd,netbsd" wordsize="64" target="libs/lib64/libmojoshader.so" />

  <dllmap dll="mojoshader" os="openbsd" wordsize="32" target="libmojoshader.so.0" />
  <dllmap dll="mojoshader" os="openbsd" wordsize="64" target="libmojoshader.so.0" />


  <dllmap dll="FAudio" os="windows" wordsize="32" target="libs/x86/FAudio.dll" />
  <dllmap dll="FAudio" os="windows" wordsize="64" target="libs/x64/FAudio.dll" />

  <dllmap dll="FAudio" os="osx" target="libs/osx/libFAudio.dylib" />

  <dllmap dll="FAudio" os="linux,freebsd,netbsd" wordsize="32" target="libs/lib64/libFAudio.so" />
  <dllmap dll="FAudio" os="linux,freebsd,netbsd" wordsize="64" target="libs/lib64/libFAudio.so" />

  <dllmap dll="FAudio" os="openbsd" wordsize="32" target="libFAudio.so.0" />
  <dllmap dll="FAudio" os="openbsd" wordsize="64" target="libFAudio.so.0" />
</configuration>