name: Build-Test

on:
  push:
    branches: "*"
    paths-ignore:
      - '**/build-release.yml'
      - 'appveyor.yml'
      - '**/README.md'
  pull_request:
    branches: "*"
    paths-ignore:
      - '**/build-release.yml'
      - 'appveyor.yml'
      - '**/README.md'


env:
  DOTNET_NOLOGO: false
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  NUGET_XMLDOC_MODE: skip

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
       os: [ macos-15-intel, ubuntu-latest, windows-latest ]

    steps:
    - uses: actions/checkout@v5

    - name: Get submodules
      run: |
        git config --global url."https://".insteadOf git://
        git submodule update --init --recursive

    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
        include-prerelease: false

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build

    - name: Test
      run: dotnet test
